*{
    margin: 0;
    padding: 0;
}

/*background colore section */
.bg-colore-add{
    background: #000;
}

/* header section start */
header{
    width: 85%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
/* nev title section start*/
.nav-title{
    color: #DB503A;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 800;
}
/* nev title section end*/

/* nav pages section start */
.nav-pages{
    border: 1px solid #2F2F2F;
    border-radius: 10px;
}
.nav-pages ul{
    display: flex;
}
.nav-pages ul li{
    color: #fff;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px;
}


