*{
    margin: 0;
    padding: 0;
}

/*background colore section */
.bg-colore-add{
    background: #000;
}

/* nev title section */
.nav-title{
    color: #DB503A;
    font-family: "Inter", sans-serif;
}